<h1>Local Chat Room</h1>

<div id="chat-room">
  <% @chats.each do |chat| %>
    <p>(<%= chat['time']%>) <%= chat['sent_by'] %> : <span style="font-family:<%=chat['font']%>"><%= chat['body'].html_safe %></span></p> 
  <% end %>
</div>

<form id="message-form">
  <p><input id="username" type="text" size="10" name="username" placeholder="username"/>
  <select id="font" name="font">
    <option value="helvetica">Helvetica</option>
    <option value="monospace">Monospace</option>
    <option value="impact">Impact</option>
    <option value="futura">Futura</option>
    <option value="georgia">Georgia</option>
    <option value="CenturyGothic, AppleGothic">Century Gothic</option>
    <option value="baskerville">Baskerville</option>
    <option value="papyrus">Papyrus</option>
    <option value="copperplate">Copperplate</option>
    <option value="geneva">Geneva</option>
  </select>
  </p>
  <input id="message" type="text" size="50" name="message", placeholder="message" autofocus="autofocus" />
  <input type="submit" id="chat-submit" value="Submit"/> 
</form>
<br>
<br>
<br>
<br>
<br>
